{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/Lista_atividade.css">
    <title>Lista de Turmas do professor</title>
</head>
<header class="login">
    <div class="fundo_menu">
        <div class="nome_sistema">
            Sistema de Apoio aos Professores
        </div>
    </div>
</header> 

<nav class="menu">
    <ul>
       <li><a href="/cad_atividade/{{id_turma}}">Cadastrar atividades</a></li>
       <li> | Turma Logada: {{turma_logada}} | </a></li>
       <li><a href="/">SAIR</a></li>
    </ul>
</nav> 
     
<body onLoad="login();">
    <div class="principal">
    <div class="container">
        <section class="enquadramento">
            <h1> Atividades</h1>
        </section>
         {% if messages %}
            <ul class="mensagem_do_servidor" style="background: #dad7cd; padding: 24px; text-align:center; color: #fff;">
                {% for mensagem in messages %}
                   <li style="list-style: none;" {% if mensagem.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{mensagem}}</li>
                {% endfor %}
            </ul>
         {% endif %}
        <input type="hidden"  name="id_turma_logado" id="id_turma_logado"  value="{{id_turma_logado}}" />
        <input type="hidden"  name="turma_logada" id="turma_logada"  value="{{turma_logada}}" />
        <hr>
        <a href="{% url 'exportar-excel' %}" download=>
            <button>Exportar par Excel</button>
           </a> 
        <table>
            <tr>
                <th>Numero</th>
                <th>Atividade</th>
                <th>Arquivo</th>
            </tr>
            
            {% for igs in lista_atividade %}
            <tr>
                <td style="text-align:center">{{igs.id}} </td>
                <td>{{igs.nome_atividade}}</td>
                <td style="text-align:center">
                    {% if igs.arquivo %}
                    <a href="../../{{igs.arquivo}}"><img src="../static/imagens/icon-arquivo.png" alt=""></a>
                    {% endif %}
                </td>
               
            </tr>
            {% endfor %}

        </table>

    </div>    
    </div>
    
    <form id="form" class="form" method="POST" action="{% url 'salvar_atividade' %}" enctype="multipart/form-data">{% csrf_token %}

        <div class="form-content">
            <input type="hidden"  name="id_turma_logado" id="id_turma_logado"  value="{{id_turma}}" />
            <input type="text" id="atividade_nome" name="atividade_nome"  placeholder="Digite o nome da turma" />
            <input type="file" id="arquivo" name="arquivo" value=""/>
            <a>Nome deve ter no mínimo 3 caracteres</a>
        </div>
        <div class="botoes">
            <div class="botao_confirmar">
                <button type="submit" class="btn_conf_cancel btn_confirmar">Cadastrar</button>
            </div>
        </div>
    </form>

<script src="https://kit.fontawesome.com/c9237383f1.js" crossorigin="anonymous"></script>

</body>

<script>

function login(){
        const value_id_logado = localStorage.getItem('proj_escola_id_logado');
        const value_nome_logado = localStorage.getItem('proj_escola_nome_logado');
        let id_logado = document.getElementById("id_logado").value
        if (value_id_logado == null) {

            let nome_logado = document.getElementById("nome_logado").value
            localStorage.setItem('proj_escola_id_logado', id_logado)
            localStorage.setItem('proj_escola_nome_logado', nome_logado)
        }
        else
        {
          if (value_id_logado == null || value_id_logado != id_logado) {
              window.alert('Você não está logado. Faça o Login antes de continuar.');
              window.location.href='../';
          }
          else{
            document.getElementById("id_logado").value = value_id_logado ;
            document.getElementById("nome_logado").value = value_nome_logado ;
          }
        }
    }

</script>

<script>

function valida_excluir(id){
  // Primeiro, exibir a mensagem de confirmação
  let userConfirmation = confirm("Você tem certeza de que deseja excluir este item?");

  // Se o usuário confirmou a exclusão
  if(userConfirmation) {

    id=id;
    endereco='/excluir_turma/' + id;
    window.location.href=endereco;
  }
  // Se o usuário cancelou a exclusão
  else {
    console.log('Operação de exclusão cancelada.');
  }
}





</script>



</html>