@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

		*{
			margin: 0px;
			padding: 0px;
		}

		body {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #caf0f8;
			font-family: "Raleway", sans-serif;
			background-image: url('../imagens/fundo_login.svg');
			background-size: cover;
			background-position: center;
		}

		form {
			width: 30rem;
			display: flex;
			flex-direction: column;
			border-radius: 25px;
			justify-content: center;
			background-color: #fff;
		}

		h1 {
			padding-top: 30px;
			display: flex;
			justify-content: center;
			color: black;
		}

		input {
			display: flex;
			justify-content: center;
			width: 370px;
			margin-bottom: 15px;
			font-size: 16px;
			border-radius: 15px;
			padding: 10px;
			border: none;
			background-color: #f2f2f2;
			margin-left: 55px;
		}

		input:focus {
			outline: none;
		}

		input:hover,
		button:hover {
			transition: all 0.s ease;
		}

		label {
			display: flex;
			width: 280px;
			font-size: 18px;
			padding-left: 10px;
			margin-left: 55px;
			color: black;
			font-weight: bold;
		}


		button {
			display: flex;
			width: 110px;
			justify-content: center;
			padding-top: 10px;
			padding-bottom: 10px;
			border: none;
			border-radius: 15px;
			background: linear-gradient(90deg, rgba(25, 112, 30, 0.801) 14%, rgb(10, 124, 26) 48%, rgb(87, 119, 13) 94%);
			color: #fff;
			font-size: 15px;
			margin-top: 10px;
			margin-bottom: 40px;
			margin-left: 200px;
			font-size: 17px;
			font-family: "Raleway", sans-serif;
		}

		.error-message{
			display: flex;
			justify-content: center;
			margin-top: 7px;
			color:rgb(68, 25, 107);
		}