@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

.login{
    display: flex;
    width: 100%;
    padding: 4vh;
    align-items: center;
    font-family: "Roboto-Condensed", sans-serif;
    font-size: 16px;
    color: #ffff;
    background: linear-gradient(90deg, #344e41 14%, #3a5a40 48%, #588157 94%);
    filter: drop-shadow(5px 5px 5px rgba(0 0 0 / 40%));
}

.menu{
    padding: 0 10px 0 10px;
}

.menu a {
    display: flex;
    padding: 15px 20px 15px 20px;
    border: none;
    margin-top: 8px;
    background-color: #729168;
    border-radius: 18px;
    color: white;
    font-family: "Roboto-Condensed", sans-serif;
    font-size: 16px;
    width: 145px;
}



.principal .container h1{
    margin-top: 40px;
    font-size: 30px;
    font-family: "Roboto-Condensed", sans-serif;
    margin-left: 36px;
}

form .form-content input{
    display: flex;
    justify-content: center;  
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    margin-left: 36px;
}

form .form-content a{
    margin-top: 40px;
    font-size: 18px;
    font-family: "Roboto-Condensed", sans-serif;
    margin-left: 36px;
}

button {
    display: flex;
    width: 90px;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(25, 112, 30, 0.801) 14%, rgb(10, 124, 26) 48%, rgb(87, 119, 13) 94%);
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 15px;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
}